* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {

  margin-bottom: 20px;
}

.container {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.input-cont {

  margin-bottom: 20px;
}
